*,*:before,*:after{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: "Comic Sans MS", cursive, sans-serif;
}

/* GLOBAL */
/* to make images responsive */
.responsive-img,.header:after{
    height: auto;
    max-width: 100%;
}

/* New changes */
.titles{
  font-weight: bold;
}

.welcome{
  font-weight: bold;
}
.tabs-padding{
  padding-right: 20px;
}

.vithya-name{
padding-right: 650px;
font-weight: bolder;
}

.vithya-img{
  float: right;
}

.tab{
  float: right;
  overflow: hidden;
  cursor: pointer;
}

.tabcontent {
  display: none;
  padding: 100px 20px;
  height: 100%;
  font-weight: normal;
  cursor: pointer;
}


td,th{
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  padding: 7px;
}

table{
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {
  /* background-color: #dddddd; */
}

thead tr th {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

/* New changes */


.text-hdr{
    font-size: 4vw;

}

.text-item{
    font-size: 3vw;
    font-weight: bold;
}

.about-hdr{
    margin-bottom: 15px;
}

.about-desc{
    font-style: italic;
}
/* GLOBAL-END */

/* STYLING */
.header{
    text-align: center;
    margin-bottom: 30px;

}

.main-body{
    background-color:#E0FFFF;
}

.content-hdr{
    text-align: left;
}


.featured-item{
    text-align: center;
}

.featured-img{
    vertical-align: baseline;
}

.featured-work{
    margin-top: 30px;
}


.featured-item{
    text-align: center;
    margin:20px 20px 20px 0;
}


.navigation-bar{
    /* display: block; */
    /* float: left; */
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, rgb(115, 108, 231) 0%, rgba(195,195,207,1) 35%, rgba(0,212,255,1) 100%);


}

.navigation-bar a{
    display: block;
    float: left;
    font-family: 'Concert One', cursive;
    color: black;
    padding: 10px 10px;
}
/* STYLING END */


/* BREAKPOINTS */
/* 1st Breakpoint */
@media screen and (min-width:480px){
    .text-hdr{
        font-size: 6vw;
    }

    .text-item{
        font-size: 4vw;
    }
    .featured-item{
        width: 100%;
    }
    .navigation-bar{
        font-size: 4vw;
    }
}

/* 2nd Breakpoint */

/* 580 pixels */
@media screen and (min-width:570px){
.header{
    margin: 0 auto 30px;
    text-align:inherit;
    justify-content: space-between;
}
.header,
.featured{
    display: flex;
    max-width: 1440px;
}
.featured{
    margin: 30px auto 0;
}
.featured-item{
    margin:20px 20px 20px 0;
}
.featured-item:last-child{
    margin-right: 0px;
}
.navigation-bar{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    padding:30px;
    align-items: center;
    font-size: 4vw;
}
.text-hdr{
    font-size: 4vw;
}
.text-item{
    font-size: 3vw;
}
}

@media screen and (min-width:720px){
.header{
    margin: 0 auto 30px;
    text-align:inherit;
    justify-content: space-between;
}
.header,
.featured{
    display: flex;
    max-width: 1440px;
}
.featured{
    margin: 30px auto 0;
}
.featured-item{
    margin:20px 20px 20px 0;
}
.featured-item:last-child{
    margin-right: 0px;
}
.navigation-bar{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    padding:30px;
    align-items: center;
    font-size: 4vw;
}
.text-hdr{
    font-size: 5vw;
}
.text-item{
    font-size: 3vw;
}
}


/* 3rd Breakpoint */
@media screen and (min-width:830px){
    .text-hdr{
        font-size: 3vw;
    }
    .text-item{
        font-size: 2vw;
    }
}

/* 4th Breakpoint */
@media screen and (min-width:1100px){
    .navigation-bar{
        font-size: 3vw;
    }
    .text-hdr{
        font-size: 2vw;
    }
}

/* 5th Breakpoint */
@media screen and (min-width:1300px){
    .text-hdr{
        font-size: 2vw;
    }
    .text-item{
        font-size: 2vw;
    }
    .navigation-bar{
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        padding:30px;
        align-items: center;
        font-size: 1vw;
    }
}

@media screen and (min-width:1550px){
    .navigation-bar{
        font-size: 2vw;
    }
    .text-hdr{
        font-size: 2vw;
    }
}

/* BREAKPOINTS END */
